

.accordion {
    max-width: 500px;
    margin:0 auto;
    
}
.accordion .arrow_icon {
    position: absolute;
    display: none;
}
.accordion:hover .arrow_icon {
    display: block;
}

.accordion_title {
    display: block;
    color: black;
    cursor: pointer;

}

.accordion_title
{
    display: flex;

    align-items: center;
    padding:10px;
    position: relative;
    font-size: 20px;
    border-top: 1px #000;
    border-bottom: 1px #000;
    overflow: hidden;
  
}
.arrow_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(0deg);
    width: 20px;
    height: 20px;
    content: url('assets/css/arrow-up.png');
   
  }
  
  .accordion_title:hover .arrow_icon {
    content: url('assets/css/arrow-down.png')
  }
    
  
  .accordion_element {
    overflow:hidden;
    border-top: 1px solid #000;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .accordion_element [class$="meme"]{
    position: relative;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 262px;
    width: 376px;
    margin-bottom: 50px;
    z-index: 2;
}
.accordion_element:hover ~ .next_element {
    margin-top: 50px;
}

.accordion_element:hover [class$="meme"] {
    display: block;
    opacity: 1;
}
.accordion_input
{
    display: none;

}
.accordion_input:checked ~ [class$="meme"]  {
    display: block;
    opacity: 1;
    z-index: 2;
}